{
  "title": "<page-title>",
  "type": "influx",
  "host": "<host-or-ip>",
  "port": <port-or-empty-for-default-8086>,
  "charger": [
    {
      "instance": <unique-number>,
      "database": "<database-name>",
      "bucket": "<complete-bucket-name>",
      "name": "<readable-name>",
      "property": "today"
    }
  ]
}